@font-face {
	font-family: 'RobotoCondensedLight';
	src: url('../fonts/RobotoCondensed-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoCondensedRegular';
	src: url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoCondensedLight';
	src: url('../fonts/RobotoSlabLight.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
