/*welcome-box*/
.welcome-box{
	
	margin: 0 auto 120px;
	padding-top: 60px;
	text-align: center;
	width: 205px;

	h1{
		font-family: @font-family-serif;
		font-size: 1.4em;
		margin-bottom: 15px;
		text-transform: uppercase;
	}

	.logo-box{

		.border-radius(10px, 10px, 10px, 10px);
		border: 1px solid @color-border;

		img{
			margin: 15px;
		}

		h2{
			background-color: @color-primaryLight;
			border-top: 1px solid @color-border;
			font-family: @font-family-sans-serif-light;
			font-size: 1.3em;
			padding: 15px;
			text-transform: uppercase;
		}
	}
}
/*end welcome-box*/